<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDG7wTqlePvOwOGZ5IhL9YFC2krgYsIoSw</string>
	<key>GCM_SENDER_ID</key>
	<string>853054702494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qvPatient.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>docbooking-9ec13</string>
	<key>STORAGE_BUCKET</key>
	<string>docbooking-9ec13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853054702494:ios:60dc65a8e6a7e563a30c8f</string>
</dict>
</plist>